@use "variables";

.footer-container {
  width: 1117px;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .footer-col-1 {
    margin-bottom: 30px;
  }
}

.footer-logo-container {
  height: 39px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-box {
  width: 39px;
  height: 45px;
}

.footer-about li,
.footer-help li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer-col-2,
  .footer-col-3 {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-col-2-text-box,
  .footer-col-3-text-box {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .footer-about,
  .footer-help {
    display: flex;
    gap: 10px;
  }
}

.footer-media-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.social-icons-box {
  width: 178px;
  display: flex;
  justify-content: space-between;
}

.fa-brands {
  color: variables.$lightviolet;
}
